<header class="footer py-5" id="footer">
    <div class="container py-5">
        <div class="row g-4">
            <div class="col-md-6 ">
                <p>We are the ultimate destination for plant lovers dedicated to plant health and well-being.
                    Designed for
                    plant collectors, enthusiasts, and caregivers, our premium plant care services focus on
                    diagnosing plant
                    diseases and offering personalized care programs. Our mission is to support you in nurturing
                    healthy,
                    thriving plants, transforming your home with the beauty of nature while ensuring your plants
                    flourish.</p>
            </div>
            <div class="col-md-1"></div>
            <div class="col-md-5 text-center">
                <h3>Greenify App</h3>
                <p>Download the app now and give your plants the care they deserve!</p>
                <div class="google-app d-flex align-items-center justify-content-center">
                    <div class="right-app d-flex align-items-center justify-content-center px-4 rounded-4 ">
                        <i class="fa-brands fa-google-play fs-4"></i>
                        <div class="content-google mt-3 ms-2 text-start">
                            <span>Get it on</span>
                            <p class="fw-bolder">Google Play</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</header>