<section id="my-account" class="py-4 min-vh-100 ">
    <div class="container px-lg-5 pt-5">
      <div class="row pt-4">
        <div class="col-lg-5 col-md-4 order-1 order-md-0">
          <div class="inner  d-flex align-items-start align-items-lg-center justify-content-evenly flex-column text-start " >
            <ul class="list-unstyled mb-md-5  rounded-4 ">
              <li class="menue d-flex align-items-center " routerLink="/savedSearch">
                <span class="me-3 d-flex  rounded-circle icon-edit "><i
                    class=" fa-solid fa-magnifying-glass "></i></span>
                <div class="content pt-4 " >
                  <span class=" saved-edit">Saved searches</span>
                  <p class="check-edit">Check saved searches</p>
                </div>
              </li>
              <li class="menue  d-flex menue-active align-items-center ">
                <span class="me-3 d-flex rounded-circle icon-edit"><i
                    class="text-dark-emphasis  fa-solid fa-gear"></i></span>
                <div class="content-2 pt-4 ">
                  <span class=" saved-edit">Settings</span>
                  <p class="check-edit">Show your Profile</p>
                </div>
              </li>
              <li class="li menue d-flex align-items-center pt-4 " (click)="logOut()">
                <span class="me-3 d-flex rounded-circle icon-edit">
                  <i class=" fa-solid fa-arrow-left"></i>
                </span>
                <div class="content  ">
                  <span class="" >Logout</span>
                </div>
              </li>
            </ul>
            
            
          </div>
        </div>
        <div class="col-lg-6 col-md-8 order-0 order-md-1">
          <div class="inner bg-white  py-4 px-4 shadow-sm rounded-4" >
            <div class="user-name mb-4 d-flex justify-content-center flex-column flex-md-row align-items-center justify-content-md-between">
              <span class="h3 order-1 order-md-0">Kareem Atef</span>
              <div class="img order-0 order-md-1 mb-3 mb-md-0">
                <img src="assets/images/client-3.png" class="rounded-circle border border-3 border-success-subtle" alt="">
              </div>
            </div>
            <span class="h5">Personal Details</span>
            <div class="row">
              <div class="col-6">
                <div class="form-floating  py-3 pe-3">
                  <input type="text" class="form-control border-0 border-bottom rounded-0 " id="floatingInputGrid"
                    placeholder="first name">
                  <label class=" text-dark-emphasis" for="floatingInputGrid">first name</label>
                </div>
              </div>

              <div class="col-6">
                <div class="form-floating  py-3 ps-3">
                  <input type="text" class="form-control border-0 border-bottom rounded-0 " id="floatingInputGrid"
                    placeholder="last name">
                  <label class=" text-dark-emphasis" for="floatingInputGrid">last name</label>
                </div>
              </div>
            </div>

            <div class="form-floating position-relative  py-3 ">
              <input type="number" class="form-control border-0 border-bottom rounded-0 " id="floatingInputGrid"
                placeholder="Postcode">
              <button class="btn fw-semibold position-absolute top-50  z-1 " type="button" id="btnFind">Add</button>
              <label class=" text-dark-emphasis" for="floatingInputGrid">Postcode</label>
            </div>

            <div class="form-floating position-relative  py-3 ">
              <input type="email" class="form-control border-0 border-bottom rounded-0 " id="floatingInputGrid"
                placeholder="Email Address">
              <button class="btn fw-semibold position-absolute top-50  z-1 " type="button" id="btnFind">Edit</button>
              <label class=" text-dark-emphasis" for="floatingInputGrid">Email Address</label>
            </div>

            <div class="form-floating position-relative  py-3 ">
              <input type="tel" class="form-control border-0 border-bottom rounded-0 " id="floatingInputGrid"
                placeholder="Phone Number">
              <button class="btn fw-semibold position-absolute top-50  z-1 " type="button" id="btnFind">Add</button>
              <label class=" text-dark-emphasis" for="floatingInputGrid">Phone Number</label>
            </div>

            <div class="form-floating position-relative mb-4  py-3 ">
              <input type="password" class="form-control border-0 border-bottom rounded-0 " id="floatingInputGrid"
                placeholder="Security">
              <button class="btn fw-semibold position-absolute top-50  z-1 " type="button" id="btnFind">Update</button>
              <label class=" text-dark-emphasis" for="floatingInputGrid">Password</label>
            </div>

            <button class="btn btn-outline-danger rounded-5 border-0"> Remove this account</button>

            <div
              class="actions text-center d-flex align-items-center justify-content-center flex-column d-lg-block py-5">
              <button class="custom-btn1 btn text-white text-capitalize mb-3 mb-lg-0 rounded-5 px-4 me-lg-3"> save changes
              </button>
              <button class="custom-btn btn btn-outline-success text-capitalize rounded-5 px-5"> cancel </button>
            </div>
          </div>
        </div>
        <div class=" col-lg-1 order-2"></div>
      </div>

    </div>
  </section>